/* EXO 2: Google Font */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700;800&display=swap");

/* TailWindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Exo 2", sans-serif;
}

.active {
  color: #540cfc;
  text-decoration: underline;
}
